/* This file is for your main application css. */
@import "./phoenix.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica';
  font-size: 16px;
  font-weight: 300;
  color: black;
}

$main-color: #d8edfd;

.hero {
  text-align: center;
  border-bottom: 1px solid #e3e3e3;
  background-color: $main-color;
  padding: 6rem 0;
  margin-bottom: 3rem;
  &-headline {
    margin-bottom: 1.5rem;
    font-weight: 500;
    font-size: 3rem;
  }
  &-desc {
    font-size: 1.2rem;
  }
}

.todo-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  &-item {
    width: 50%;
    padding: 0.5rem 0;
    &-title {
      margin: 1rem;
      display: inline;
    }
    &-desc {
      margin: 1rem;
      display: block;
    }
    &-buttons {
      margin: 1rem;
      a {
        text-decoration: none;
        margin-right: 0.7rem;
      }
    }
  }
}

.form-group {
  margin: 2rem 0;
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    > .form-input {
      padding-bottom: 1rem;
      > .form-title {
        padding-bottom: 0.3rem;
      }
      input {
        padding: 0.3rem;
        border-radius: 5px;
        border: 1px solid grey;
      }
    }
    > .form-button {
      button {
        padding: 0.3rem;
        border-radius: 5px;
        border: 1px solid grey;
        font-size: 0.8rem;
      }
    }
  }
}

ul {
  list-style: none;
}

.strong {
  font-weight: 400;
}

button {
  padding: 0.3rem;
  border-radius: 5px;
  border: 1px solid lighten($color: grey, $amount: 10%);;
  background-color: lighten($color: grey, $amount: 40%);
  font-size: 0.8rem;
  cursor: pointer;
}

.alert-error {
  padding: 0.5rem;
  text-align: center;
  background-color: lighten($color: red, $amount: 30%);
}

.alert-success {
  padding: 0.5rem;
  text-align: center;
  background-color: lighten($color: green, $amount: 70%);
}

.button-danger {
  border: 1px solid lighten($color: red, $amount: 15%);;
  padding: 0.3rem;
  border-radius: 5px;
  background-color: lighten($color: red, $amount: 30%);
  font-size: 0.8rem;
}

.button-info {
  border: 1px solid lighten($color: grey, $amount: 10%);;
  padding: 0.3rem;
  border-radius: 5px;
  background-color: lighten($color: grey, $amount: 40%);
  font-size: 0.8rem;
}